doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    div
      include ../partials/header.pug
      p.
        This is a simple boilerplate for making multi-page website with the power of
        <a href="https://webpack.js.org">webpack</a>,
        <a href="https://pugjs.org">pug</a> and
        <a href="https://lesscss.org">LESS</a>
      p.
        Goto <a href="page2.html">Page 2</a>
